* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

* {
  font-family: Arial;
}

html {
  font-size: 10px;
}

.tab-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 50px;
  background-color: #f2f2f2;
  position: sticky;
  bottom: 0;
  padding: 0 26px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .tab-bar {
    display: none;
  }
}

.tab-bar-top {
  display: none;
}

@media only screen and (min-width: 768px) {
  .tab-bar-top {
    width: 975px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    min-height: 54px;
    background-color: #fafafa;
    margin: auto;
  }
  .tab-bar-top .logo {
    width: 103px;
    height: 29px;
    display: flex;
    align-content: center;
  }
  .tab-bar-top .search-bar {
    display: inline-flex;
    margin-left: 8px;
    border-radius: 3px;
    overflow: hidden;
    background-color: rgba(118, 118, 128, 0.12);
    width: 215px;
    height: 28px;
  }
  .tab-bar-top .search-bar .search-bar-icon {
    width: 10px;
    height: 10px;
    margin: 11.25px 9.07px 11.07px 11.25px;
    opacity: 60%;
  }
  .tab-bar-top .search-bar .search-box {
    border: none;
    padding: 0.5rem 0.5rem 0.5rem 0;
    color: #3c3c43;
    opacity: 60%;
    background: transparent;
    font-size: 14px;
  }
  .tab-bar-top .right-icons {
    display: flex;
    gap: 22px;
    align-items: center;
  }
  .tab-bar-top .right-icons .icon {
    width: 22px;
    display: flex;
  }
}
@media (min-width: 768px) {
  body {
    background-color: #f2f2f2;
  }
}

@media (min-width: 768px) {
  .profile-container {
    max-width: 975px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }
}
.profile-container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 44px;
  background-color: #f2f2f2;
  padding: 10px 10px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .profile-container header {
    background-color: #fafafa;
    display: none;
  }
}
.profile-container header .logo-img {
  width: 105px;
  height: auto;
}
.profile-container header .action-icon {
  width: 24px;
  height: auto;
  cursor: pointer;
}
.profile-container main {
  display: flex;
  max-width: 935px;
  margin: auto;
  gap: 28px;
}
@media (min-width: 768px) {
  .profile-container main {
    padding-top: 30px;
  }
}
.profile-container main .page-container .stories-container {
  display: flex;
  padding: 9px 10px;
  gap: 20px;
  overflow-x: auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .profile-container main .page-container .stories-container {
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
    margin-bottom: 24px;
  }
}
.profile-container main .page-container .stories-container::-webkit-scrollbar {
  display: none;
}
.profile-container main .page-container .stories-container .story-item {
  text-align: center;
}
.profile-container main .page-container .stories-container .story-item .content-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(215deg, blue 10%, #fd1d1d, #fcb045);
  position: relative;
  margin-bottom: 5px;
}
.profile-container main .page-container .stories-container .story-item .content-img .story-img {
  border: 2px solid #fff;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-size: cover;
}
.profile-container main .page-container .stories-container .story-item .content-img .alert-live {
  bottom: -3px;
  padding: 2px 4px;
  border-radius: 3px;
  position: absolute;
  border: 1px solid #fff;
  color: #fff;
  background: linear-gradient(215deg, #833ab4, #fd1d1d, #fcb045);
}
.profile-container main .page-container .feed-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .profile-container main .page-container .feed-container {
    gap: 60px;
    margin-bottom: 60px;
  }
}
.profile-container main .page-container .feed-container .card-post {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .profile-container main .page-container .feed-container .card-post {
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
  }
}
.profile-container main .page-container .feed-container .card-post .card-header {
  display: flex;
  align-items: center;
  padding: 11px 10px;
  gap: 10px;
}
.profile-container main .page-container .feed-container .card-post .card-header .author-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-size: cover;
}
.profile-container main .page-container .feed-container .card-post .card-header .author-infos .author-name {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 1.5px;
}
.profile-container main .page-container .feed-container .card-post .card-header .author-infos .author-location {
  font-size: 1.1rem;
}
.profile-container main .page-container .feed-container .card-post .card-header .more-icon {
  cursor: pointer;
  margin-left: auto;
  height: 3px;
}
.profile-container main .page-container .feed-container .card-post .post-img {
  width: 100%;
  height: 375px;
  object-fit: cover;
}
.profile-container main .page-container .feed-container .card-post .post-infos {
  padding: 12px 15px;
}
.profile-container main .page-container .feed-container .card-post .post-infos .post-actions {
  display: flex;
  gap: 15px;
}
.profile-container main .page-container .feed-container .card-post .post-infos .post-actions .action-icon {
  height: 20px;
  width: auto;
  cursor: pointer;
}
.profile-container main .page-container .feed-container .card-post .post-infos .post-actions .action-icon:last-child {
  margin-left: auto;
}
.profile-container main .page-container .feed-container .card-post .post-infos .likes-info {
  display: flex;
  align-items: center;
  padding: 12px 0 5px;
}
.profile-container main .page-container .feed-container .card-post .post-infos .likes-info .people-like-img {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 6.5px;
}
.profile-container main .page-container .feed-container .card-post .post-infos .likes-info .likes-quantity {
  font-size: 1.3rem;
}
.profile-container main .page-container .feed-container .card-post .post-infos .post-caption {
  font-size: 1.3rem;
}
.profile-container main .aside-container {
  display: none;
}
@media (min-width: 768px) {
  .profile-container main .aside-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    min-width: 300px;
  }
  .profile-container main .aside-container .user-infos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
  }
  .profile-container main .aside-container .user-infos img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 15px;
  }
  .profile-container main .aside-container .user-infos .user-name {
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 1.5px;
  }
  .profile-container main .aside-container .user-infos .user-fullname {
    color: #8e8e8e;
    font-size: 1.4rem;
  }
  .profile-container main .aside-container .user-infos .logout-action {
    color: #0095f6;
    font-weight: 600;
    text-decoration: none;
    margin-left: auto;
  }
  .profile-container main .aside-container .suggestions-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
  .profile-container main .aside-container .suggestions-container .suggestion-title {
    color: #8e8e8e;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .profile-container main .aside-container .suggestions-container .suggestion {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
  }
  .profile-container main .aside-container .suggestions-container .suggestion img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 15px;
  }
  .profile-container main .aside-container .suggestions-container .suggestion .follow-action {
    color: #0095f6;
    font-weight: 600;
    text-decoration: none;
    margin-left: auto;
  }
  .profile-container main .aside-container .suggestions-container .suggestion .suggestion-name {
    font-size: 1.4rem;
  }
  .profile-container main .aside-container .suggestions-container .suggestion .suggestion-common-followers {
    color: #8e8e8e;
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=home.css.map */
