* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

* {
  font-family: Arial;
}

html {
  font-size: 10px;
}

.tab-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 50px;
  background-color: #f2f2f2;
  position: sticky;
  bottom: 0;
  padding: 0 26px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .tab-bar {
    background-color: #fafafa;
  }
}

@media (min-width: 768px) {
  .profile-container {
    max-width: 975px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }
}
.profile-container .container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 11px;
  margin-right: 18px;
}
.profile-container .container-top .privacy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}
.profile-container .container-top .privacy .privacy-icon {
  width: 8.75px;
  height: 11.75px;
  margin-left: 142px;
  margin-right: 6px;
}
.profile-container .container-top .privacy .user {
  font-size: 1.6rem;
  font-weight: 600;
  margin-right: 5px;
}
.profile-container .container-top .privacy .container-menu-icon {
  align-self: end;
  cursor: pointer;
}
.profile-container .container-top .privacy .container-menu-icon .menu-icon {
  width: 20.5px;
  height: 17.5;
}
.profile-container .info .container-datas {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.profile-container .info .container-datas .img_profile {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background-size: cover;
  margin-left: 11px;
  margin-bottom: 17px;
  margin-right: 40px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .profile-container .info .container-datas .img_profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
  }
}
.profile-container .info .container-datas .numbers-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}
.profile-container .info .container-datas .numbers-info .posts-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.profile-container .info .container-datas .numbers-info .posts-info .posts-numb {
  font-size: 1.6rem;
  font-weight: 600;
  color: #262626;
}
.profile-container .info .container-datas .numbers-info .posts-info .title-info {
  font-size: 1.3rem;
  font-weight: normal;
  color: #262626;
}
.profile-container .info .container-datas .numbers-info .followers-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.profile-container .info .container-datas .numbers-info .followers-info .posts-numb {
  font-size: 1.6rem;
  font-weight: 600;
  color: #262626;
}
.profile-container .info .container-datas .numbers-info .followers-info .title-info {
  font-size: 1.3rem;
  font-weight: normal;
  color: #262626;
}
.profile-container .info .container-datas .numbers-info .following-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.profile-container .info .container-datas .numbers-info .following-info .posts-numb {
  font-size: 1.6rem;
  font-weight: 600;
  color: #262626;
}
.profile-container .info .container-datas .numbers-info .following-info .title-info {
  font-size: 1.3rem;
  font-weight: normal;
  color: #262626;
}
.profile-container .info .name-bio {
  margin-left: 16px;
}
.profile-container .info .name-bio .name-profile {
  font-size: 1.2rem;
  font-weight: 600;
  color: #262626;
}
.profile-container .info .name-bio .bio {
  font-size: 1.2rem;
  font-weight: normal;
  color: #262626;
}
.profile-container .info .name-bio .bio .tag {
  color: #3797ef;
}
.profile-container .info .container-ed-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 16px 0px;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 600;
  color: #262626;
}
.profile-container .info .container-ed-profile .ed-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  width: 343px;
  height: 29px;
}
@media (min-width: 768px) {
  .profile-container .info .container-ed-profile .ed-profile {
    width: 93px;
    height: 30px;
  }
}
.profile-container .info .container-stories {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 16px;
}
.profile-container .info .container-stories .add-stories {
  margin-right: 22px;
  cursor: pointer;
}
.profile-container .info .container-stories .add-stories .img-add-stories {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-size: cover;
}
@media (min-width: 768px) {
  .profile-container .info .container-stories .add-stories .img-add-stories {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
  }
}
.profile-container .info .container-stories .add-stories .title-stories {
  font-size: 1.2rem;
  font-weight: normal;
  color: #262626;
}
.profile-container .info .container-stories .stories-friends {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 26px;
  cursor: pointer;
}
.profile-container .info .container-stories .stories-friends .img-friends {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-size: cover;
  margin-bottom: 7px;
}
@media (min-width: 768px) {
  .profile-container .info .container-stories .stories-friends .img-friends {
    width: 77px;
    height: 77px;
    border-radius: 50%;
    background-size: cover;
  }
}
.profile-container .info .container-stories .stories-friends .title-stories {
  font-size: 1.2rem;
  font-weight: normal;
  color: #262626;
}
.profile-container .info .container-stories .stories-sport {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 26px;
  cursor: pointer;
}
.profile-container .info .container-stories .stories-sport .img-sport {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-size: cover;
  margin-bottom: 7px;
}
@media (min-width: 768px) {
  .profile-container .info .container-stories .stories-sport .img-sport {
    width: 77px;
    height: 77px;
    border-radius: 50%;
    background-size: cover;
  }
}
.profile-container .info .container-stories .stories-sport .title-stories {
  font-size: 1.2rem;
  font-weight: normal;
  color: #262626;
}
.profile-container .info .container-stories .stories-design {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 26px;
  cursor: pointer;
}
.profile-container .info .container-stories .stories-design .img-design {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-size: cover;
  margin-bottom: 7px;
}
@media (min-width: 768px) {
  .profile-container .info .container-stories .stories-design .img-design {
    width: 77px;
    height: 77px;
    border-radius: 50%;
    background-size: cover;
  }
}
.profile-container .info .container-stories .stories-design .title-stories {
  font-size: 1.2rem;
  font-weight: normal;
  color: #262626;
}
.profile-container .nav-pic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-bottom: 11.5px;
}
.profile-container .nav-pic .nav-grid {
  cursor: pointer;
  padding: 0 83px;
  box-sizing: border-box;
}
.profile-container .nav-pic .nav-tagpic {
  cursor: pointer;
  padding: 0 83px;
  box-sizing: border-box;
}
.profile-container .container-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.profile-container .container-line .line-dark {
  width: 50%;
  height: 1px;
  text-align: left;
  margin-bottom: 1px;
  background-color: #262626;
  border: none;
}
.profile-container .pictures .rows {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 1px;
}
@media (min-width: 768px) {
  .profile-container .pictures .rows {
    gap: 28px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 28px;
  }
}
.profile-container .pictures .rows .pic-posts {
  width: 124px;
  height: 124px;
}
@media (min-width: 768px) {
  .profile-container .pictures .rows .pic-posts {
    width: 287px;
    height: 287px;
  }
}

/*# sourceMappingURL=profile.css.map */
