* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

* {
  font-family: Arial;
}

html {
  font-size: 10px;
}

.tab-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 50px;
  background-color: #f2f2f2;
  position: sticky;
  bottom: 0;
  padding: 0 26px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .tab-bar {
    display: none;
  }
}

.tab-bar-top {
  display: none;
}

@media only screen and (min-width: 768px) {
  .tab-bar-top {
    width: 975px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    min-height: 54px;
    background-color: #fafafa;
    margin: auto;
  }
  .tab-bar-top .logo {
    width: 103px;
    height: 29px;
    display: flex;
    align-content: center;
  }
  .tab-bar-top .search-bar {
    display: inline-flex;
    margin-left: 8px;
    border-radius: 3px;
    overflow: hidden;
    background-color: rgba(118, 118, 128, 0.12);
    width: 215px;
    height: 28px;
  }
  .tab-bar-top .search-bar .search-bar-icon {
    width: 10px;
    height: 10px;
    margin: 11.25px 9.07px 11.07px 11.25px;
    opacity: 60%;
  }
  .tab-bar-top .search-bar .search-box {
    border: none;
    padding: 0.5rem 0.5rem 0.5rem 0;
    color: #3c3c43;
    opacity: 60%;
    background: transparent;
    font-size: 14px;
  }
  .tab-bar-top .right-icons {
    display: flex;
    gap: 22px;
    align-items: center;
  }
  .tab-bar-top .right-icons .icon {
    width: 22px;
    display: flex;
  }
}
.container-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 9px;
  margin-top: 48px;
}
@media (min-width: 768px) {
  .container-search {
    display: none;
  }
}
.container-search .search-bar {
  display: inline-flex;
  margin-left: 8px;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(118, 118, 128, 0.12);
  width: 327px;
  height: 36px;
}
.container-search .search-bar .search-bar-icon {
  width: 13px;
  margin: 11.25px 9.07px 11.07px 11.25px;
  border: none;
}
.container-search .search-bar .search-box {
  border: none;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
  color: #3c3c43;
  background: transparent;
  font-size: 1.6rem;
}
.container-search .shape-search {
  width: 20px;
  height: 20px;
  margin: 10px;
  color: #979797;
  cursor: pointer;
}

.tabs {
  display: flex;
  margin-bottom: 7px;
  margin-left: 8px;
  position: relative;
  box-sizing: border-box;
  overflow-x: auto;
}
.tabs::-webkit-scrollbar {
  display: none;
}
@media (min-width: 768px) {
  .tabs {
    display: none;
  }
}
.tabs .tab-IGTV {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.4rem;
  font-weight: 600;
  color: #262626;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  width: 75px;
  height: 32px;
  margin-right: 6px;
  cursor: pointer;
  position: relative;
}
.tabs .tab-IGTV .tab-iconIGTV {
  width: 12.5px;
  height: 14.78px;
}
.tabs .tab-IGTV .tab {
  border: none;
  margin-left: 6px;
}
.tabs .tab-shop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.4rem;
  font-weight: 600;
  color: #262626;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  width: 77px;
  height: 32px;
  margin-right: 6px;
  position: relative;
}
.tabs .tab-shop .tab-iconShop {
  width: 12.5px;
  height: 14.5px;
}
.tabs .tab-shop .tab {
  border: none;
  margin-left: 6.5px;
}
.tabs .tab-style {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.4rem;
  font-weight: 600;
  color: #262626;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  width: 56px;
  height: 32px;
  margin-right: 6px;
  position: relative;
}
.tabs .tab-style .tab {
  border: none;
}
.tabs .tab-sports {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.4rem;
  font-weight: 600;
  color: #262626;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  width: 68px;
  height: 32px;
  margin-right: 6px;
  position: relative;
}
.tabs .tab-sports .tab {
  border: none;
}
.tabs .tab-auto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.4rem;
  font-weight: 600;
  color: #262626;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  width: 53px;
  height: 32px;
  margin-right: 6px;
  position: relative;
}
.tabs .tab-auto .tab {
  border: none;
}
.tabs .tab-music {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.4rem;
  font-weight: 600;
  color: #262626;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  width: 62px;
  height: 32px;
  margin-right: 6px;
  position: relative;
}
.tabs .tab-music .tab {
  border: none;
}

.images {
  flex-wrap: wrap;
  margin: 1px;
}
.images .rows {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.images img {
  width: 124px;
  height: 119.53px;
}

/*# sourceMappingURL=search.css.map */
