@import "..//styles.scss";

.container-search {
  @include simple-flex(space-between, center, row);
  margin-bottom: 9px;
  margin-top: 48px;
  

  .search-bar {
    display: inline-flex;
    margin-left: 8px;
    box-sizing: border-box;
    position: relative;
    // border:  solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(118, 118, 128, 0.12);
    // opacity: 12%;
    width: 327px;
    height: 36px;
    
    
    
    .search-bar-icon {
      width: 13px;
      margin: 11.25px 9.07px 11.07px 11.25px;
      border: none;
      // color: #3c3c43;
      // background-color: rgba(118, 118, 128, 0.12);
      // opacity: 60%;
    }
    
    .search-box {
      border: none;
      padding: 0.5rem 0.5rem 0.5rem 0;
      flex: 1;
      color: rgba(60, 60, 67, 1);;
      // opacity: 60%;
      background: transparent;
      font-size: 1.6rem ;
      // background-color: rgba(118, 118, 128, 0.12);
      // position: ;

    }
  }
  
  .shape-search {
    width: 20px;
    height: 20px;
    margin: 10px;
    color: #979797;
    cursor: pointer;
  }
}

.tabs {
  display: flex;
  margin-bottom: 7px;
  margin-left: 8px;
  position: relative;
  box-sizing: border-box;
  overflow-x: auto;
  
  &::-webkit-scrollbar {
    display: none;
  }


  .tab-IGTV{
    @include simple-flex(center, center, row);
    font-size: 1.4rem;
    font-weight: 600;
    color: $text-color;
    // display: inline-flex;
    // position: relative;
    
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    width: 75px;
    height: 32px;
    margin-right: 6px;
    cursor: pointer;
    position: relative;

    .tab-iconIGTV {
      width: 12.5px;
      height: 14.78px;
    }
    .tab {
      border: none;
      // padding: 0.5rem 0.5rem 0.5rem 0;
      // flex: 1;
      margin-left: 6px;
      
    }
  }
  .tab-shop {
    @include simple-flex(center, center, row);
    // display: inline-flex;
    // position: relative;
    font-size: 1.4rem;
    font-weight: 600;
    color: $text-color;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    width: 77px;
    height: 32px;
    margin-right: 6px;
    position: relative;

    .tab-iconShop {
      width: 12.5px;
      height: 14.5px;

    }
    .tab {
      border: none;
      margin-left: 6.5px;

    }
  }
  .tab-style {
    @include simple-flex(center, center, row);
    font-size: 1.4rem;
    font-weight: 600;
    color: $text-color;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    width: 56px;
    height: 32px;
    margin-right: 6px;
    position: relative;

    .tab {
      border: none;
    }
  }
  .tab-sports {
    @include simple-flex(center, center, row);
    // display: inline-flex;
    // position: relative;
    font-size: 1.4rem;
    font-weight: 600;
    color: $text-color;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    width: 68px;
    height: 32px;
    margin-right: 6px;
    position: relative;

    .tab {
      border: none;
    }
  }
  .tab-auto {
    @include simple-flex(center, center, row);
    // display: inline-flex;
    // position: relative;
    font-size: 1.4rem;
    font-weight: 600;
    color: $text-color;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    width: 53px;
    height: 32px;
    margin-right: 6px;
    position: relative;

    .tab {
      border: none;
    }
  }
  .tab-music {
    @include simple-flex(center, center, row);
    // display: inline-flex;
    // position: relative;
    font-size: 1.4rem;
    font-weight: 600;
    color: $text-color;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    width: 62px;
    height: 32px;
    margin-right: 6px;
    position: relative;

    .tab {
      border: none;
      
    }
  } 
}

.images {
  // @include simple-flex(space-between, center, row);
  flex-wrap: wrap;
  margin: 1px;

  .rows {
    @include simple-flex(space-between);
  }
  img {
    width: 124px;
    height: 119.53px;
    
  }
}
